@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la app de Alex</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Para ir a la seccion de personas pulsa el enlace</p>
    <a asp-controller="Personas" asp-action="Index">
        Ir a Personas
    </a>
</div>
